<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>cctracker app</title>
<!--
Newline Template
https://templatemo.com/tm-503-newline
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>
        <section class="top-part">
          <video controls autoplay muted loop>
            <source src="static/videos/video.mp4" type="video/mp4">
            <!-- <source src="static/videos/video.ogg" type="video/ogg"> -->
          Your browser does not support the video tag.
          </video>
        </section>
        
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="static/img/home_icon.png"></div><h6>Welcome</h6></a></li>
                <li><a href="#1"><div class="image-icon"><img src="static/img/location.png"></div><h6>Geotagging</h6></a></li>
                <li><a href="#2"><div class="image-icon"><img src="static/img/reg_icon.png"></div><h6>Register</h6></a></li>
                <li><a href="#3"><div class="image-icon"><img src="static/img/search.png"></div><h6>Search</h6></a></li>
                <li><a href="#4"><div class="image-icon"><img src="static/img/about-icon.png"></div><h6>About Us</h6></a></li>
              </ul>
            </nav> 
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                <h1>CCTRACKER</h1>
                <span>By sudo Innovate</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">
                        <h4>About CCTRACKER</h4>
                        <p>CCTRACKER is an AI powered application that allows you to locate and determine CCTV installations by Geotagging, and intelligent searching of huge CCTV contents in minimum time.</p>
                        <div class="primary-button">
                          <a href="https://github.com/SharadSaha/cctracker" target="_blank">Discover More</a>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Geotagging</h1>
                <span>Get CCTV coordinates</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=325&amp;height=224&amp;hl=en&amp;q=East police station, Agartala&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://formatjson.org/">format json</a></div><style>.mapouter{position:relative;text-align:right;width:325px;height:224px;}.gmap_canvas {overflow:hidden;background:none!important;width:325px;height:224px;}.gmap_iframe {width:325px!important;height:224px!important;}</style></div>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">
            
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Address" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Get nearest CCTVs</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Register</h1>
                <span>Register a new CCTV</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <p>Register a new CCTV(public or private) here.
                              <br><br>
                              <em>Just enter the lattitude,longitude and<br>id of the CCTV.</em>
                              </p>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="lat" type="text" class="form-control" id="lat" placeholder="Lattitude" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="lon" type="text" class="form-control" id="lon" placeholder="Longitude" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="cctv_id" type="text" class="form-control" id="cctv_id" placeholder="CCTV id" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Register CCTV</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Video search</h1>
                <span>Video search using natural language query</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <form action="/upload" method="post" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <!-- <input type="submit" value="upload"> -->
                                <button type="submit" id="form-submit" class="btn">Upload</button>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="query" action="" method="post">
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="query" rows="6" class="form-control" id="query" placeholder="Query" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Get time stamps</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>About Us</h1>
                <span>Get More Info About Our Agency</span> 
              </div>
              <div class="cd-half-width second-slide">   
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-7 left-image">
                            <img src="static/img/dl.jpg">
                          </div>
                          <div class="col-md-5">
                            <div class="right-about-text">
                              <h4>Who we are?</h4>
                              <p>We are sudo Innovate, a group of undergrads from National Institute of Technology, Agartala.</p>
                              <div class="primary-button">
                                <a href="https://github.com/SharadSaha/cctracker" target="_blank">Discover More</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                            <div class="left-about-text">
                              <h4>What we do?</h4>
                              <p>We strive to provide efficient algorithm based and AI based solutions to real life use cases.</p>
                              <div class="primary-button">
                                <a href="https://github.com/SharadSaha/cctracker" target="_blank">Discover More</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 right-image">
                            <img src="static/img/cctv.jfif">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->


        <footer>
          <p>Copyright &copy; 2020 Your Company 
                                
        	| Designed by <em>Template Mo</em></p>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>